body{
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.item {
    border-radius: 6px;
    background-color: #d41936;
    position: relative;
    overflow: hidden;
}

.item label {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.item input[type="checkbox"] {
    display: none;
}

.item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.item input[type="checkbox"]:checked+img {
    opacity: 1;
}