body {
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.item {
    border-radius: 6px;
}

#vermelho {
    background-color: red;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}

#amarelo {
    background-color: yellow;
}